@charset "UTF-8";

.container,
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

.btn,
.toggle,
button {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

.btn,
.loading .loader,
.title {
	text-align: center
}

.btn_default,
.toggle__handler {
	box-shadow: 0 18px 59px rgba(21, 24, 29, .1)
}

.btn,
.desktop-nav {
	transition: all .2s ease-in-out
}

.btn,
.nav {
	white-space: nowrap
}

.desktop-nav,
.mobile-nav,
body.loading,
body.nav-open,
body.switch-slider {
	overflow: hidden
}

.container {
	width: 320px
}

@media (min-width: 992px) {
	.container {
		width: 950px
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1140px
	}
}

.row {
	margin-right: -15px;
	margin-left: -15px
}

.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.row::after,
.row::before {
	content: "";
	display: table;
	clear: both
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box
}

.btn,
.title,
body {
	font-family: Roboto, Arial, Helvetica, sans-serif
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

body {
	line-height: 1;
	-webkit-text-size-adjust: 100%
}

ol,
ul {
	list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=)
}

blockquote,
q {
	quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/roboto-300.eot);
	src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/roboto-300.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto-300.woff2) format("woff2"), url(../fonts/roboto-300.woff) format("woff"), url(../fonts/roboto-300.ttf) format("truetype"), url(../fonts/roboto-300.svg#Roboto) format("svg")
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/roboto-regular.eot);
	src: local("Roboto"), local("Roboto-Regular"), url(../fonts/roboto-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto-regular.woff2) format("woff2"), url(../fonts/roboto-regular.woff) format("woff"), url(../fonts/roboto-regular.ttf) format("truetype"), url(../fonts/roboto-regular.svg#Roboto) format("svg")
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/roboto-700.eot);
	src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/roboto-700.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto-700.woff2) format("woff2"), url(../fonts/roboto-700.woff) format("woff"), url(../fonts/roboto-700.ttf) format("truetype"), url(../fonts/roboto-700.svg#Roboto) format("svg")
}

@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/ubuntu-regular.eot);
	src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(../fonts/ubuntu-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu-regular.woff2) format("woff2"), url(../fonts/ubuntu-regular.woff) format("woff"), url(../fonts/ubuntu-regular.ttf) format("truetype"), url(../fonts/ubuntu-regular.svg#Ubuntu) format("svg")
}

body,
html {
	width: 100%;
	height: 100%;
	font-size: 16px
}

a {
	text-decoration: none;
	color: inherit
}

.agreement-text a,
.form__row_forgot a,
.policy__link,
.terms a {
	text-decoration: underline
}

input {
	outline: 0;
	box-sizing: border-box
}

.btn,
button {
	-webkit-tap-highlight-color: transparent
}

button,
input {
	-webkit-appearance: none;
	appearance: none
}

img,
svg {
	max-width: 100%
}

img {
	height: auto
}

.loading .loader {
	height: 100%;
	width: 100%;
	background-image: radial-gradient(circle 1238px at 47.95% 37.05%, #fd6946 0, #f74153 100%);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1222
}

.btn_action,
.btn_auth-orange,
.btn_auth-owhite::before {
	background-image: linear-gradient(to left, #f74153 0, #fd6946 100%)
}

.loading .loader__block {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.loading .loader__item {
	display: block;
	position: relative;
	width: 4px;
	height: 10px;
	background-color: #fff;
	transform: translateY(0);
	animation: up-down .6s infinite
}

.loading .loader__item::after,
.loading .loader__item::before {
	content: '';
	position: absolute;
	display: block;
	width: 4px;
	height: 10px;
	top: 0;
	background-color: #fff;
	transform: translateY(0)
}

.loading .loader__item::before {
	left: -10px;
	animation: up-down .6s .125s infinite
}

.loading .loader__item::after {
	right: -10px;
	animation: up-down .6s .25s infinite
}

.btn_auth-owhite::before,
.toggle__wrapper::before {
	right: -2px;
	content: ''
}

@keyframes up-down {

	0%,
	100% {
		transform: translateY(10px)
	}

	50% {
		transform: translateY(-10px)
	}
}

.title {
	color: #464646;
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 3.3125rem
}

.title_white {
	color: #fff
}

.btn {
	border-radius: 16px;
	cursor: pointer;
	display: inline-block;
	outline: 0
}

.header__title,
.nav__item a {
	font-family: Ubuntu
}

.btn_menu {
	font-size: .875rem;
	line-height: 1rem;
	padding: 6px 25px
}

.btn_default {
	font-size: 1.125rem;
	width: 240px;
	height: 65px;
	border-radius: 33px;
	border: none
}

.btn_auth {
	line-height: 4.0625rem;
	border: 2px solid #fff;
	position: relative
}

.btn_auth-white {
	color: #8f8f8f;
	background-color: #fff
}

.btn_auth-owhite {
	border: none
}

.btn_auth-owhite::before {
	position: absolute;
	display: block;
	top: -2px;
	bottom: -2px;
	left: -2px;
	border-radius: 27px;
	z-index: -1
}

.btn_auth-orange {
	color: #fff
}

.btn_action {
	color: #fff;
	text-transform: uppercase
}

.btn_action:disabled {
	background-image: linear-gradient(to left, #636363 0, #8f8f8f 100%);
	cursor: not-allowed;
	opacity: .8
}

.desktop-nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-size: 0;
	padding-bottom: 40px;
	z-index: 1111
}

.desktop-nav.faq {
	background-color: #0e0214;
	background-image: radial-gradient(circle 1238px at 47.95% 37.05%, #fd6946 0, #f74153 100%);
	padding-bottom: 0
}

.desktop-nav.hidden {
	display: none
}

.desktop-nav .container {
	display: flex;
	align-items: center
}

.desktop-nav a.logo {
	display: block;
	width: 127px;
	height: 66px;
	flex-shrink: 0
}

.desktop-nav .icon.logo {
	fill: #fff;
	width: 127px;
	height: 66px
}

.main-nav {
	margin-left: 65px;
	margin-right: 50px
}

.nav {
	display: flex
}

.nav__item {
	font-size: 1rem;
	line-height: 1;
	color: #fff
}

.auth,
.lang-switcher {
	font-size: 0;
	white-space: nowrap
}

.nav__item:not(:last-child) {
	margin-right: 42px
}

.nav__item a {
	display: inline-block;
	padding: 25px 0
}

.frontpage .fixed .nav__item {
	color: #464646
}

.auth__link {
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 16px
}

.auth__link:hover {
	background-color: #fff;
	color: #8f8f8f
}

.auth a+a {
	margin-left: 15px
}

.lang-switcher {
	margin-left: 30px
}

.lang-switcher__link {
	font-size: .875rem;
	color: #fff;
	opacity: .5
}

.lang-switcher__link.active {
	opacity: 1
}

.lang-switcher a+a {
	margin-left: 20px
}

.mobile__burger {
	cursor: pointer;
	background: 0 0;
	display: none;
	position: relative;
	width: 21px;
	height: 16px;
	margin-left: auto;
	border: none;
	outline: 0;
	padding: 0
}

.mobile__btn,
.mobile__btn::after,
.mobile__btn::before {
	position: absolute;
	display: block;
	height: 2px;
	left: 0;
	background-color: #464646
}

.mobile__btn {
	right: 0;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	transition: background 0s .3s
}

.mobile__btn::after,
.mobile__btn::before {
	content: '';
	width: 100%;
	transition-duration: .3s, .3s;
	transition-delay: .3s, 0s
}

.mobile__btn::before {
	top: -7px;
	transition-property: top, transform
}

.mobile__btn::after {
	bottom: -7px;
	transition-property: bottom, transform
}

.mobile-nav {
	opacity: 0;
	z-index: 1;
	width: 0;
	background-color: #fff;
	text-align: left;
	height: 100%;
	transition: all .8s ease-in-out;
	position: fixed;
	top: 0;
	bottom: 0;
	padding-top: 44px
}

.above__item,
.header__auth,
.header__title,
.mobile-nav__auth,
.modal__header,
.slider__item {
	text-align: center
}

.mobile-nav__item a {
	display: inline-block;
	color: #464646;
	font-size: 1rem;
	line-height: 2.8125rem;
	padding: 0 16px
}

.mobile-nav__main {
	display: flex;
	justify-content: space-between;
	margin-top: 20px
}

.mobile-nav__navigation {
	flex-shrink: 0;
	max-width: 240px
}

.mobile-nav__lang-switcher {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end
}

.mobile-nav__auth {
	margin-top: 36px
}

.mobile-nav__auth a+a {
	margin-top: 18px
}

.mobile-nav__auth .btn {
	box-shadow: none
}

.nav-open .mobile__btn {
	background: 0 0
}

.nav-open .mobile__btn::before {
	top: 0;
	transform: rotate(45deg)
}

.nav-open .mobile__btn::after {
	bottom: 0;
	transform: rotate(-45deg)
}

.nav-open .mobile__btn::after,
.nav-open .mobile__btn::before {
	transition-delay: 0s, .3s
}

.nav-open .mobile-nav {
	opacity: 100;
	z-index: 1000;
	max-height: none;
	width: 100%;
	overflow: auto
}

.cta,
.globe,
.ofr,
.ofr__slider-notebook,
.push__notify {
	overflow: hidden
}

.fixed.desktop-nav {
	position: fixed;
	padding-bottom: 0
}

.frontpage .fixed.desktop-nav {
	background-color: rgba(255, 255, 255, .95);
	box-shadow: 0 1px 10px rgba(21, 24, 29, .1)
}

.frontpage .fixed.desktop-nav .icon.logo {
	fill: #fd6946
}

.frontpage .fixed .lang-switcher__link {
	color: #000
}

.frontpage .fixed .auth__link {
	position: relative;
	border-color: transparent
}

.frontpage .fixed .auth__link_white {
	color: #8f8f8f;
	background-color: #fff
}

.frontpage .fixed .auth__link_white:hover {
	color: #fff;
	background-color: transparent
}

.frontpage .fixed .auth__link::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: -4px;
	right: -4px;
	bottom: -4px;
	left: -4px;
	background-image: linear-gradient(to left, #f74153 0, #fd6946 100%);
	border-radius: 18px
}

.above__back,
.globe-canvas {
	bottom: 0;
	right: 0
}

.page .mobile__btn,
.page .mobile__btn::after,
.page .mobile__btn::before {
	background-color: #fff
}

.page.nav-open .mobile__btn {
	background: 0 0
}

.header {
	background-color: #0e0214;
	background-image: radial-gradient(circle 1238px at 47.95% 37.05%, #fd6946 0, #f74153 100%);
	padding-top: 66px;
	height: 100vh
}

.header__container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	max-width: 730px;
	width: 100%;
	height: 60vh;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-bottom: 30px;
	z-index: 10
}

.cta,
.gray {
	align-items: center
}

.header__title {
	color: #fff;
	font-size: 2.3125rem;
	font-weight: 400;
	line-height: 2.875rem;
	padding: 0 10px
}

.above__val,
.modal__header,
.ofr__subtitle,
.slider__header {
	font-weight: 700
}

.header__text {
	font-size: 1.125rem;
	line-height: 2.125rem
}

.header__auth {
	margin-top: 65px;
	white-space: nowrap
}

.header__auth a+a {
	margin-left: 30px
}

.orange {
	position: absolute;
	top: 8vh;
	left: 50%;
	width: calc(60vh + 66px);
	height: calc(60vh + 66px);
	opacity: .5;
	transform: translateX(-50%)
}

.globe,
.slider {
	width: 100%
}

.slider__item {
	color: #fff;
	padding: 0 160px;
	margin-left: auto;
	margin-right: auto;
	outline: 0
}

.slider__header {
	font-size: 1.875rem;
	line-height: 1;
	text-transform: uppercase
}

.gray {
	display: flex;
	background-color: #fff;
	background-image: linear-gradient(180deg, #fff 0, #f3f7fb 100%);
	height: calc(40vh - 66px);
	position: relative
}

.above {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.above__item {
	width: 280px;
	min-height: 178px;
	padding: 25px 45px;
	position: relative
}

.above__back {
	position: absolute;
	top: 0;
	left: 0;
	display: none
}

.above__back.worldmap {
	background: url(../img/svg/worldmap.svg) center top no-repeat
}

.above__back.click {
	background: url(../img/svg/click.svg) center top no-repeat
}

.above__back.dollar {
	background: url(../img/svg/dollar.svg) center top no-repeat
}

.above__text {
	color: #464646;
	font-size: 1.4375rem;
	line-height: 1.625rem;
	position: relative
}

.above__val {
	display: block;
	font-size: 2rem;
	line-height: 2.375rem
}

.modal__text,
.ofr__item {
	line-height: 1.5rem;
	font-size: 1.125rem
}

.globe {
	height: 100%;
	position: relative
}

.globe-bg,
.globe-canvas {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%
}

.globe-list {
	visibility: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%
}

.globe-bg {
	background: linear-gradient(#E8001C 0, #F3514D 50%, #EB3349 100%);
	opacity: .5;
	border-radius: 50%;
	transform: scale(0);
	transition: transform 3s
}

.modal__cookies,
.modal__info,
.modal_register {
	display: none;
	position: fixed;
	bottom: 0
}

.modal_register {
	top: 0;
	right: 0;
	left: 0;
	background-image: radial-gradient(circle 1766px at 49.15% 33.55%, rgba(253, 105, 70, .69) 0, rgba(247, 65, 83, .69) 100%)
}

.modal_register .container {
	max-width: 540px;
	width: 100%;
	text-align: center;
	margin-top: 10%
}

.modal__cookies,
.modal__info {
	transform: translateY(100%);
	z-index: 500
}

.modal__cookies_active {
	display: block;
	bottom: 2%;
	left: 50%;
	transform: translateX(-50%)
}

.modal__main {
	background-color: rgba(255, 255, 255, .9);
	border: 2px solid #fd6946;
	border-radius: 12px;
	padding: 1vh 60px
}

.modal__main .btn {
	flex-shrink: 0
}

.modal__header {
	display: block
}

.modal__content {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.browsers,
.ofr__toggle {
	justify-content: center
}

.modal__text_cookies {
	color: #464646;
	padding-right: 75px
}

.modal__text_thx {
	color: #fff;
	margin: 16px 0 40px;
	padding: 0 70px
}

.ofr,
.push {
	padding: 90px 0
}

.ofr {
	min-height: 860px;
	background-color: #dcdbe8;
	background-image: linear-gradient(180deg, #fff 0, #f3f7fb 100%);
	position: relative
}

.ofr__toggle {
	display: flex;
	margin: 40px 0 45px
}

.browsers,
.push__how {
	margin-left: auto;
	position: relative
}

.ofr__main {
	width: 570px;
	min-height: 510px;
	position: relative
}

.ofr__slider {
	display: flex;
	flex-wrap: wrap
}

.ofr__slider-container {
	position: absolute;
	left: -99em;
	visibility: hidden;
	opacity: 0;
	transition: opacity .6s
}

.ofr__slider-container.active {
	position: static;
	visibility: visible;
	opacity: 1
}

.ofr__slider-back {
	position: absolute;
	width: 833px;
	height: 466px;
	background: url(../img/macbook.png) center no-repeat;
	left: 463px;
	top: 30px
}

.ofr__slider-main {
	position: absolute;
	width: 576px;
	height: 355px;
	top: 34px;
	left: 127px
}

.ofr__slider-item,
.ofr__slider-notebook {
	width: 100%;
	height: 100%
}

.ofr__slider-notebook {
	background: #fff
}

.ofr__item {
	color: #464646;
	width: 285px;
	padding-right: 60px;
	margin-top: 25px
}

.faq-content h1,
.forgot h1,
.login h1,
.register h1 {
	font-weight: 400;
	font-family: Roboto;
	text-align: center
}

.slider-switched .ofr::before {
	content: '';
	position: absolute;
	display: block;
	background-image: radial-gradient(circle 1238px at 47.95% 37.05%, #fd6946 0, #f74153 100%);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	opacity: 0;
	border-radius: 50%;
	animation: slider-switched .6s ease-out;
	z-index: 50
}

.toggle,
.toggle__wrapper {
	position: relative
}

.toggle,
.toggle__handler {
	display: inline-block;
	transition: all .2s cubic-bezier(.445, .05, .55, .95)
}

.toggle__handler,
.toggle__wrapper::before {
	background-image: linear-gradient(to left, #f74153 0, #fd6946 100%)
}

.toggle {
	cursor: pointer;
	width: 462px;
	height: 72px;
	background-color: #fff;
	border-radius: 36px;
	-webkit-tap-highlight-color: transparent;
	z-index: 55
}

.toggle__wrapper::before {
	position: absolute;
	top: -2px;
	bottom: -2px;
	left: -2px;
	border-radius: 38px
}

.toggle__wrapper input {
	position: absolute;
	left: -99em
}

.toggle__wrapper input:checked+.toggle::before {
	color: #8f8f8f
}

.toggle__wrapper input:checked+.toggle::after {
	color: #fff
}

.toggle__wrapper input:checked+.toggle .toggle__handler {
	transform: translateX(216px)
}

.toggle::after,
.toggle::before {
	content: '';
	position: absolute;
	width: 180px;
	max-height: 60px;
	text-align: center;
	font-size: 1.125rem;
	line-height: 1.125;
	transition: all .2s cubic-bezier(.445, .05, .55, .95);
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
	z-index: 2
}

.toggle::before {
	left: 30px;
	color: #fff
}

.toggle::after {
	right: 30px;
	color: #8f8f8f
}

.toggle__handler {
	position: relative;
	z-index: 1;
	width: 240px;
	height: 66px;
	border-radius: 33px;
	top: 3px;
	left: 3px;
	transform: translateX(0)
}

.ru .toggle::before,
[lang=ru] .toggle::before {
	content: 'Вебмастерам'
}

.ru .toggle::after,
[lang=ru] .toggle::after {
	content: 'Рекламодателям'
}

.en .toggle::before,
[lang=en] .toggle::before {
	content: 'Webmasters'
}

.en .toggle::after,
[lang=en] .toggle::after {
	content: 'Advertisers'
}

@keyframes slider-switched {

	0%,
	40% {
		opacity: 1
	}

	0%,
	80% {
		border-radius: 50%
	}

	100%,
	80% {
		border-radius: 0;
		transform: translate(-50%, -50%) scale(15)
	}

	100% {
		opacity: 0
	}
}

.load,
.load:after,
.load:before {
	border-radius: 100px;
	width: 9px;
	height: 9px
}

.cta {
	display: flex;
	background-color: #0e0214;
	background-image: radial-gradient(circle 1238px at 47.95% 37.05%, #fd6946 0, #f74153 100%);
	height: 263px;
	position: relative
}

.cta__back {
	width: 700px;
	height: 700px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.cta__block {
	text-align: center;
	position: relative;
	z-index: 10
}

.push {
	background-color: #dcdbe8;
	background-image: linear-gradient(180deg, #fff 0, #f3f7fb 100%);
	min-height: 700px
}

.push__main {
	position: relative;
	padding-top: 50px
}

.push__view {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.push__notebook {
	position: absolute;
	top: 0;
	right: 375px;
	width: 705px;
	height: 410px;
	background: url(../img/macbook-push.png) center no-repeat
}

.push__notify-area {
	position: absolute;
	top: 30px;
	right: 100px;
	width: 256px;
	height: 310px
}

.push__phone {
	position: absolute;
	top: 50px;
	right: 906px;
	width: 214px;
	height: 402px;
	background: url(../img/iphone-push.png) center no-repeat
}

.push__phone-screen {
	position: absolute;
	top: 40px;
	right: 20px;
	width: 170px;
	height: 320px
}

.push__notify {
	position: relative;
	width: 100%;
	height: 100%
}

.push__notify-notebook,
.push__notify-phone {
	position: absolute;
	transform: translateX(125%)
}

.push__notify-notebook {
	right: 5px;
	bottom: 12px;
	width: 209px;
	height: 161px;
	box-shadow: -2.9px 7.5px 18px rgba(21, 24, 29, .41);
}

[lang='ru'] .push__notify-notebook,
.ru .push__notify-notebook {
	background: url(../img/notify-notebook_ru.jpg) center no-repeat;
	background-size: contain
}

[lang='en'] .push__notify-notebook,
.en .push__notify-notebook {
	background: url(../img/notify-notebook_en.jpg) center no-repeat;
	background-size: contain
}

.push__notify-notebook.animate {
	animation: notify-notebook 10s linear infinite
}

.push__notify-phone {
	right: 0;
	width: 165px;
	height: 30px;
}

.push__notify-phone_big {
	height: 98px;
}

[lang='ru'] .push__notify-phone:nth-child(1),
.ru .push__notify-phone:nth-child(1) {
	background: url(../img/notify-phone_ru_1.png) center no-repeat;
}

[lang='en'] .push__notify-phone:nth-child(1),
.en .push__notify-phone:nth-child(1) {
	background: url(../img/notify-phone_en_1.png) center no-repeat;
}

[lang='ru'] .push__notify-phone:nth-child(2),
.ru .push__notify-phone:nth-child(2) {
	background: url(../img/notify-phone_ru_2.png) center no-repeat;
}

[lang='en'] .push__notify-phone:nth-child(2),
.en .push__notify-phone:nth-child(2) {
	background: url(../img/notify-phone_en_2.png) center no-repeat;
}

[lang='ru'] .push__notify-phone:nth-child(3),
.ru .push__notify-phone:nth-child(3) {
	background: url(../img/notify-phone_ru_3.png) center no-repeat;
}

[lang='en'] .push__notify-phone:nth-child(3),
.en .push__notify-phone:nth-child(3) {
	background: url(../img/notify-phone_en_3.png) center no-repeat;
}

.push__notify-phone:nth-child(1).animate {
	top: 70px;
	animation: notify-phone 10s linear 1s infinite
}

.push__notify-phone:nth-child(2).animate {
	top: 168px;
	animation: notify-phone 10s linear 1.5s infinite
}

.push__notify-phone:nth-child(3).animate {
	top: 208px;
	animation: notify-phone 10s linear 2s infinite
}

.push__how {
	width: 350px
}

.push__text {
	color: #464646;
	font-size: 1.125rem;
	line-height: 1.5rem;
	padding-right: 20px;
	margin-top: 28px
}

.push__action {
	margin-top: 60px
}

.push__browsers {
	margin-top: 40px
}

.browsers {
	display: flex;
	align-items: center;
	margin-right: auto;
	width: 540px;
	min-height: 120px
}

.browsers__item {
	width: 100px;
	height: 84px;
	text-align: center;
	position: relative;
	transition: all .5s;
	padding: 0 3px
}

.browsers__item::before {
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	top: 35px;
	left: 50%;
	transform: translateX(-50%)
}

.browsers__item.yandex::before {
	background: url(../img/svg/yandex-1.svg) center no-repeat
}

.browsers__item.safari::before {
	background: url(../img/svg/safari-1.svg) center no-repeat
}

.browsers__item.opera::before {
	background: url(../img/svg/opera-1.svg) center no-repeat
}

.browsers__item.firefox::before {
	background: url(../img/svg/firefox-1.svg) center no-repeat
}

.browsers__item.chrome::before {
	background: url(../img/svg/chrome-1.svg) center no-repeat
}

.browsers__item span {
	color: #464646;
	font-size: .875rem;
	opacity: .3;
	white-space: nowrap
}

@keyframes notify-notebook {
	0% {
		opacity: 0
	}

	3.5%,
	50% {
		transform: translateX(0)
	}

	5%,
	80% {
		opacity: 1
	}

	100%,
	85% {
		transform: translateX(0);
		opacity: 0
	}
}

@keyframes notify-phone {
	0% {
		opacity: 0
	}

	2%,
	80% {
		transform: translateX(0);
		opacity: 1
	}

	100%,
	82% {
		transform: translateX(0);
		opacity: 0
	}
}

.map {
	background-color: #988c8e;
	background-image: radial-gradient(circle 471px at 58.95% 52.26%, #fd6946 0, #f74153 100%);
	padding: 90px 0;
	min-height: 756px
}

.map .container {
	position: relative
}

.map__back {
	position: absolute
}

.map__cta,
.map__header {
	text-align: center;
	position: relative;
	padding: 0 38px
}

.map__subtitle {
	color: #fff;
	font-size: 1.4375rem;
	line-height: 1.875rem;
	margin-top: 30px
}

.map__cta {
	margin-top: 390px
}

.map-points-wrapper {
	position: absolute;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	margin-right: -1%
}

.map-points-wrapper .load.white {
	position: absolute
}

.map-points-wrapper .finland {
	left: 52%;
	top: 28%
}

.map-points-wrapper .europe-first {
	left: 47%;
	top: 38%
}

.map-points-wrapper .europe-second {
	left: 48%;
	top: 37%
}

.map-points-wrapper .west-coast {
	left: 12%;
	top: 43%
}

.map-points-wrapper .east-coast-first {
	left: 24%;
	top: 45%
}

.map-points-wrapper .east-coast-second {
	left: 25%;
	top: 44%
}

.map-points-wrapper .brasil {
	left: 33%;
	top: 76%
}

.map-points-wrapper .india {
	left: 68%;
	top: 55%
}

.map-points-wrapper .singapore {
	left: 76%;
	top: 65%
}

.map-points-wrapper .japan {
	left: 85%;
	top: 43%
}

.map-points-wrapper .hongkong {
	left: 79%;
	top: 52%
}

.map-points-wrapper .australia {
	left: 89%;
	top: 85%
}

.map-points-wrapper .chicago {
	left: 22%;
	top: 43%
}

.map-points-wrapper .iowa {
	left: 20%;
	top: 45%
}

.map-points-wrapper .quebec {
	left: 27%;
	top: 34%
}

.map-points-wrapper .seattle {
	left: 12%;
	top: 40%
}

.map-points-wrapper .wyoming {
	left: 15%;
	top: 40%
}

.map-points-wrapper .texas {
	left: 19%;
	top: 46%
}

.map-points-wrapper .london {
	left: 46%;
	top: 35%
}

.map-points-wrapper .germany {
	left: 49%;
	top: 35%
}

.map-points-wrapper .seoul {
	left: 83%;
	top: 43%
}

.map-points-wrapper .victoria {
	left: 88%;
	top: 88%
}

.load {
	background-color: transparent;
	position: relative
}

.load:after,
.load:before {
	display: inline-block;
	margin: auto;
	position: absolute;
	content: "";
	background-color: #fff;
	opacity: .8
}

.load.white:after,
.load.white:before {
	background-color: #fff
}

.load.red:after,
.load.red:before {
	width: 9px;
	height: 9px;
	background-color: #FF524D
}

.animation-slower:before {
	z-index: 200;
	animation: inner-ripple 4.5s linear infinite
}

.animation-medium:before {
	z-index: 200;
	animation: inner-ripple 3.5s linear infinite
}

.animation-faster:before {
	z-index: 200;
	animation: inner-ripple 1.5s linear infinite
}

@keyframes inner-ripple {
	0% {
		transform: scale(1);
		filter: alpha(opacity=50);
		opacity: .8
	}

	30% {
		transform: scale(1);
		filter: alpha(opacity=50);
		opacity: .5
	}

	100% {
		transform: scale(10.5);
		filter: alpha(opacity=0);
		opacity: 0
	}
}

.forgot__noacc a:hover,
.login__noacc a:hover,
.register__noacc a:hover,
.page .policy__link:hover {
	opacity: .8
}

.faq-content {
	padding: 160px 0 90px
}

.faq-content .container {
	padding: 0 120px
}

.faq-content h1,
.faq-content h2 {
	color: #464646
}

.faq-content h1 {
	font-size: 2.5rem;
	line-height: 3.3125rem
}

.faq-content h2 {
	font-size: 1.5rem;
	line-height: 1.8125rem;
	margin-top: 30px
}

.faq-content p {
	color: #8f8f8f;
	font-size: 1.125rem;
	line-height: 1.5rem
}

.forgot,
.login,
.register {
	background-color: #fff;
	background-image: linear-gradient(180deg, #fff 0, #f3f7fb 100%);
	padding: 160px 0 400px;
	min-height: 100%
}

.forgot__content,
.login__content,
.register__content {
	padding: 0 30px
}

.forgot h1,
.login h1,
.register h1 {
	color: #464646;
	font-size: 2.5rem;
	line-height: 3.3125rem
}

.forgot__safe,
.login__safe,
.register__safe {
	color: #8f8f8f;
	font-size: .875rem;
	line-height: 1.125rem;
	text-align: center;
	position: relative;
	vertical-align: middle;
	margin-top: 16px
}

.forgot__safe .lock,
.login__safe .lock,
.register__safe .lock {
	fill: #8f8f8f;
	width: 12px;
	height: 15px;
	vertical-align: top
}

.forgot__noacc,
.login__noacc,
.register__noacc {
	text-align: center;
	color: #464646;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-top: 40px
}

.forgot__noacc p,
.login__noacc p,
.register__noacc p {
	display: inline-block
}

.forgot__noacc a,
.login__noacc a,
.register__noacc a {
	margin: 0 5px;
	font-weight: 700;
	text-decoration: underline
}

.login__content {
	width: 350px;
	margin: auto
}

.register__toggle {
	display: flex;
	justify-content: center;
	margin: 40px 0 45px
}

.register .form__row:last-of-type {
	margin-top: 35px
}

.forgot .form__input {
	margin: 30px auto 38px
}

.foot__copy,
.policy__link {
	font-size: .75rem;
	font-weight: 300;
	line-height: 1.625rem
}

.foot {
	padding: 40px 0
}

.foot .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between
}

.foot__policy {
	margin: 25px 0;
	width: 100%
}

.policy {
	display: flex;
	justify-content: center
}

.policy__link {
	margin: 10px
}

.policy__link:not(:first-child) {
	margin-left: 80px
}

.frontpage .foot {
	background-color: #f3f7fb;
	background-image: linear-gradient(to bottom, #fff, #f3f7fb);
	color: #8f8f8f
}

.frontpage .policy__link:hover {
	color: #000
}

.frontpage .social__item_fb {
	background: url(../img/svg/facebook-1.svg) center no-repeat
}

.frontpage .social__item_tw {
	background: url(../img/svg/twitter-1.svg) center no-repeat
}

.frontpage .social__item_insta {
	background: url(../img/svg/instagram-1.svg) center no-repeat
}

.page .foot {
	background-color: #040118;
	background-image: radial-gradient(circle 1240px at 47.95% 52.52%, #fd6946 0, #f74153 100%);
	color: #fff
}

.page .social__item_fb {
	background: url(../img/svg/facebook-2.svg) center no-repeat;
	opacity: .5
}

.page .social__item_tw {
	background: url(../img/svg/twitter-2.svg) center no-repeat;
	opacity: .5
}

.page .social__item_insta {
	background: url(../img/svg/instagram-2.svg) center no-repeat;
	opacity: .5
}

.page .foot {
	height: 250px;
	margin-top: -250px
}

.social {
	display: flex;
	justify-content: space-between;
	height: 50px
}

.social__item {
	width: 50px;
	height: 50px
}

.social__item a {
	display: block;
	width: 100%;
	height: 100%
}

.social__item:not(:first-child) {
	margin-left: 15px
}

.social__item_fb:hover {
	background: url(../img/svg/facebook.svg) center no-repeat;
	opacity: 1
}

.social__item_tw:hover {
	background: url(../img/svg/twitter.svg) center no-repeat;
	opacity: 1
}

.social__item_insta:hover {
	background: url(../img/svg/instagram.svg) center no-repeat;
	opacity: 1
}

.form_register {
	width: 640px;
	margin: auto
}

.form__row,
.form__row .form__item+.form__item,
.form__row .form__item+input,
.form__row input+.form__item,
.form__row input+input {
	margin-top: 16px
}

.form__row_col {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	font-size: 0
}

.form__input,
.form__row_forgot a {
	font-size: 1rem;
	line-height: 1.5rem
}

.form__row button,
.form__row input {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.form__row button {
	text-transform: none
}

.form__row_forgot {
	padding: 14px 17px
}

.form__row_forgot a {
	color: #8f8f8f
}

.form__row_forgot a:hover {
	color: #464646
}

.form__input {
	color: #8f8f8f;
	background-color: #fff;
	border: 1px solid rgba(143, 143, 143, .5);
	border-radius: 7px;
	padding: 14px 50px 14px 17px;
	max-width: 290px;
	width: 100%
}

.form__input:focus {
	box-shadow: 0 9px 24px rgba(21, 24, 29, .14)
}

.form__checkbox_custom {
	display: none
}

.form__checkbox_custom:checked+.form__checkbox-label::after {
	opacity: 1
}

.form__checkbox-label {
	display: block;
	width: 34px;
	height: 34px;
	position: absolute;
	top: 50%;
	left: 15px;
	margin-top: -17px;
	background-color: #fff;
	border: 1px solid rgba(143, 143, 143, .5);
	border-radius: 7px;
	cursor: pointer;
	white-space: nowrap;
	-webkit-user-select: none;
	user-select: none
}

.form__checkbox-label::after {
	content: '';
	position: absolute;
	background: url(../img/checkbox.png) center no-repeat;
	width: 18px;
	height: 18px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0
}

.form__item.error::before,
.form__pwd-btn {
	top: 50%;
	right: 30px;
	transform: translateY(-50%)
}

.form__item {
	position: relative;
	min-height: 54px
}

.form__item_checkbox {
	display: flex;
	align-items: center
}

.form__item.error::before {
	border-radius: 50%;
	content: '!';
	color: #fff;
	display: block;
	font-family: Roboto;
	position: absolute;
	font-size: 1.3125rem;
	line-height: 1.5rem;
	font-weight: 700;
	background-color: #f74153;
	width: 24px;
	height: 24px;
	text-align: center;
	z-index: 10
}

.form__item.error .form__input {
	border-color: rgba(247, 65, 83, .5);
	box-shadow: none;
	color: #f74153;
	position: relative
}

.form__item.error .form__input::placeholder {
	color: #f74153
}

.form__pwd-btn {
	background: url(../img/svg/eye.svg) center no-repeat;
	cursor: pointer;
	position: absolute;
	width: 22px;
	height: 11px;
	padding: 10px 15px;
	opacity: .2;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent
}

.form__pwd-btn.active {
	opacity: 1
}

::placeholder {
	color: #8f8f8f;
	font-size: 1rem;
	line-height: 1.5rem
}

.agreement-text {
	color: #8f8f8f;
	font-size: .875rem;
	line-height: 1.125rem;
	padding: 0 60px
}

.agreement-text a:hover,
.terms h1 {
	color: #464646
}

.terms {
	background-color: #fff;
	background-image: linear-gradient(180deg, #fff 0, #f3f7fb 100%);
	padding: 120px 40px 90px;
	min-height: 100%;
	margin: 0 auto;
	line-height: 1.25rem
}

.terms .container {
	width: 100%;
	max-width: 800px
}

.terms h1 {
	font-family: Roboto;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 3.3125rem;
	margin-bottom: 26px
}

.terms h2 {
	font-size: 1rem;
	margin-top: 26px;
	font-weight: 700
}

.terms p {
	padding-left: 20px
}

.terms a:hover {
	opacity: .8
}

.terms ul {
	padding-left: 30px
}

.terms li {
	margin-top: 5px
}

#terms-of-service h2:first-of-type {
	text-align: center
}

@media screen and (min-width: 992px) and (max-width: 991px) {

	.map .load,
	.map .load:after,
	.map .load:before {
		width: 9px;
		height: 9px
	}
}

@media screen and (max-width: 1199px) {
	.btn_menu {
		padding-left: 20px;
		padding-right: 20px
	}

	.desktop-nav .icon.logo,
	.desktop-nav a.logo {
		width: 110px;
		height: 28px
	}

	.main-nav {
		margin-left: 24px;
		margin-right: 24px
	}

	.nav__item:not(:last-child) {
		margin-right: 20px
	}

	.lang-switcher {
		margin-left: 20px
	}

	.ofr__slider-back {
		left: 430px
	}

	.push__phone {
		right: 735px
	}

	.faq-content .container {
		padding: 0 80px
	}
}

@media screen and (min-width: 992px) {
	.btn_auth-white:hover {
		color: #fff;
		background-image: linear-gradient(to left, #f74153 0, #fd6946 100%)
	}

	.btn_auth-orange:hover {
		color: #8f8f8f;
		background-image: none;
		background-color: #fff
	}

	.push__title {
		text-align: left
	}

	.browsers__item.yandex:hover::before {
		background: url(../img/svg/yandex.svg) center no-repeat
	}

	.browsers__item.safari:hover::before {
		background: url(../img/svg/safari.svg) center no-repeat
	}

	.browsers__item.opera:hover::before {
		background: url(../img/svg/opera.svg) center no-repeat
	}

	.browsers__item.firefox:hover::before {
		background: url(../img/svg/firefox.svg) center no-repeat
	}

	.browsers__item.chrome:hover::before {
		background: url(../img/svg/chrome.svg) center no-repeat
	}

	.browsers__item:hover {
		transform: scale(1.1);
		margin-top: -25px
	}

	.browsers__item:hover::before {
		top: 45px;
		transform: translateX(-50%) scale(1.5)
	}

	.browsers__item:hover span {
		font-size: 1.125rem;
		opacity: 1
	}

	.map div.map-wrapper {
		max-width: 1060px;
		width: 100%;
		left: 50%;
		transform: translateX(-50%)
	}

	.map .load,
	.map .load:after,
	.map .load:before {
		width: 13px;
		height: 13px
	}

	.map ul.aiven-client-logos {
		max-width: 909px
	}

	.map ul.aiven-client-logos li img {
		max-width: 130px
	}
}

@media screen and (max-width: 991px) {

	.header,
	.loading .loader {
		background-image: radial-gradient(circle 576px at 52.44% 2.03%, #fd6946 0, #f74153 100%)
	}

	.ofr,
	.ofr__main,
	.push {
		min-height: unset
	}

	.title {
		font-size: 1.5rem;
		line-height: 1.875rem
	}

	.btn_default {
		width: 178px;
		height: 50px;
		font-size: .875rem
	}

	.btn_auth {
		line-height: 3.125rem
	}

	.desktop-nav {
		position: fixed;
		height: 44px;
		padding-bottom: 0;
		background-color: rgba(255, 255, 255, .95);
		box-shadow: 0 1px 10px rgba(21, 24, 29, .1)
	}

	.desktop-nav .container {
		height: 100%;
		justify-content: space-between
	}

	.desktop-nav a.logo {
		display: flex;
		align-items: center;
		width: 97px;
		height: 100%;
		margin-right: auto
	}

	.desktop-nav .icon.logo {
		width: 97px;
		height: 24px
	}

	.auth,
	.lang-switcher,
	.main-nav {
		display: none
	}

	.mobile__burger,
	.ofr__slider {
		display: block
	}

	.lang-switcher__link {
		display: block;
		color: #000;
		padding: 6px 16px;
		margin: 10px 0
	}

	.lang-switcher__link:last-child {
		margin-top: 55px
	}

	.lang-switcher__link.active {
		color: #fd6946
	}

	.frontpage .icon.logo {
		fill: #fd6946
	}

	.header {
		background-color: #ebebeb;
		height: auto;
		overflow: hidden
	}

	.header__container {
		max-width: 320px;
		height: auto;
		justify-content: flex-start
	}

	.header__title {
		font-size: 1.1875rem;
		line-height: 1.375rem
	}

	.header__text {
		font-size: .875rem;
		line-height: 1rem;
		padding: 0 33px
	}

	.header__auth {
		margin-top: 72px;
		white-space: normal
	}

	.header__auth a+a {
		margin-left: 0;
		margin-top: 18px
	}

	.orange {
		width: 360px;
		height: 360px;
		top: 125px
	}

	.above__item,
	.ofr__main {
		width: 100%
	}

	.slider {
		margin-top: 45px
	}

	.slider__item {
		padding: 0 15px
	}

	.slider__header {
		font-size: 1.125rem;
		margin-bottom: 10px;
		padding: 0 33px
	}

	.gray {
		padding: 40px 0;
		height: auto
	}

	.above__text {
		font-size: 1.125rem;
		line-height: 1.5rem
	}

	.map__subtitle,
	.modal__text,
	.ofr__item,
	.push__text {
		line-height: 1.125rem
	}

	.modal__main {
		padding: 15px
	}

	.modal__content {
		flex-wrap: wrap;
		justify-content: center
	}

	.modal__text {
		font-size: .875rem
	}

	.modal__text_cookies {
		width: 100%;
		padding-right: 0;
		text-align: center;
		margin-bottom: 15px
	}

	.modal__text_thx {
		margin-bottom: 35px
	}

	.ofr {
		padding: 40px 0 270px
	}

	.ofr .title {
		padding: 0 10px
	}

	.ofr__slider {
		margin-left: -15px;
		margin-right: -15px
	}

	.ofr__slider-container {
		width: 290px
	}

	.ofr__slider-back {
		background-size: cover;
		width: 324px;
		height: 184px;
		left: -17px;
		top: 140px
	}

	.ofr__slider-main {
		width: 233px;
		height: 145px;
		top: 12px;
		left: 45px
	}

	.ofr__item {
		padding: 0 45px;
		margin-top: 0;
		font-size: 1rem;
		text-align: center;
		outline: 0
	}

	.ofr__subtitle {
		margin-bottom: 3px
	}

	.toggle {
		width: 290px;
		height: 42px;
		border-radius: 21px
	}

	.toggle__wrapper::before {
		border-radius: 23px
	}

	.toggle__wrapper input:checked+.toggle .toggle__handler {
		transform: translateX(136px)
	}

	.toggle::after,
	.toggle::before {
		width: 130px;
		max-height: 40px;
		font-size: .875rem
	}

	.toggle::before {
		left: 10px
	}

	.toggle::after {
		right: 10px
	}

	.toggle__handler {
		top: 2px;
		left: 2px;
		width: 150px;
		height: 38px
	}

	.cta {
		height: 142px
	}

	.cta__back {
		width: 360px;
		height: 360px
	}

	.push {
		padding: 45px 0 20px
	}

	.push__main {
		padding-top: 0
	}

	.push__view {
		top: unset;
		left: -16px;
		right: -16px;
		bottom: 100px;
		height: 182px
	}

	.push__notebook {
		width: 322px;
		height: 182px;
		right: 50%;
		margin-right: -161px;
		background-size: cover
	}

	.push__notify-area {
		width: 110px;
		height: 140px;
		top: 10px;
		right: 45px
	}

	.push__phone {
		right: 175px;
		top: 25px;
		width: 96px;
		height: 174px;
		background-size: cover
	}

	.push__phone-screen {
		right: 9px;
		top: 28px;
		width: 75px;
		height: 120px
	}

	.push__notify-notebook {
		width: 92px;
		height: 71px;
		right: 2px;
		bottom: 5px;
	}

	.push__notify-phone {
		width: 75px;
		height: 15px;
	}

	.push__notify-phone_big {
		height: 45px;
	}

	.push__notify-phone:nth-child(1).animate {
		top: 20px;
	}
	
	.push__notify-phone:nth-child(2).animate {
		top: 65px;
	}
	
	.push__notify-phone:nth-child(3).animate {
		top: 80px;
	}
	.push__notify-phone:nth-child(1).animate,
	.push__notify-phone:nth-child(2).animate,
	.push__notify-phone:nth-child(3).animate {
		background-size: contain;
	}

	.push__how {
		width: 100%;
		text-align: center
	}

	.push__text {
		font-size: 1rem;
		padding-right: 0
	}

	.push__action {
		margin-top: 285px
	}

	.browsers {
		width: 100%;
		flex-wrap: wrap
	}

	.browsers__item {
		width: 90px;
		height: 120px
	}

	.browsers__item.yandex.active::before {
		background: url(../img/svg/yandex.svg) center no-repeat
	}

	.browsers__item.safari.active::before {
		background: url(../img/svg/safari.svg) center no-repeat
	}

	.browsers__item.opera.active::before {
		background: url(../img/svg/opera.svg) center no-repeat
	}

	.browsers__item.firefox.active::before {
		background: url(../img/svg/firefox.svg) center no-repeat
	}

	.browsers__item.chrome.active::before {
		background: url(../img/svg/chrome.svg) center no-repeat
	}

	.browsers__item.active {
		transform: scale(1.1)
	}

	.browsers__item.active::before {
		top: 45px;
		transform: translateX(-50%) scale(1.5)
	}

	.browsers__item.active span {
		font-size: 1.125rem;
		opacity: 1
	}

	.map {
		min-height: 404px;
		padding: 40px 0
	}

	.map__back {
		top: 25%
	}

	.map__subtitle {
		font-size: 1rem
	}

	.map__cta {
		margin-top: 150px
	}

	.faq-content {
		padding: 80px 0
	}

	.faq-content .container {
		padding: 0 15px;
		width: 80%
	}

	.faq-content h1 {
		font-size: 2rem;
		line-height: 2.5rem
	}

	.faq-content h2 {
		font-size: 1.25em;
		line-height: 1.5rem
	}

	.faq-content p {
		font-size: 1rem;
		line-height: 1.25rem
	}

	.forgot,
	.login,
	.register {
		padding: 80px 0 300px
	}

	.forgot__content,
	.login__content,
	.register__content {
		padding: 0 15px
	}

	.forgot h1,
	.login h1,
	.register h1 {
		font-size: 2rem;
		line-height: 2.5rem
	}

	.foot {
		padding: 25px 0
	}

	.foot__policy {
		margin: 15px 0
	}

	.policy {
		flex-direction: column;
		align-items: center
	}

	.policy__link {
		display: inline-block;
		line-height: 1;
		margin: 4px;
		padding: 4px
	}

	.policy__link:not(:first-child) {
		margin-left: 4px
	}

	.page .foot {
		height: 260px;
		margin-top: -260px
	}

	.terms {
		padding: 80px 15px 60px
	}

	.terms h1 {
		font-size: 2rem;
		line-height: 2.5rem
	}
}

@media screen and (min-width: 768px) {
	.map div.map-wrapper img {
		max-height: initial
	}
}

@media screen and (max-width: 767px) {
	.form_register {
		width: 320px;
		padding: 0 15px
	}

	.form__row_col {
		display: block;
		width: 290px;
		margin: 16px auto
	}

	.form__item.error::before,
	.form__pwd-btn {
		right: 15px
	}
}

@media screen and (max-width: 640px) {
	.faq-content .container {
		width: 100%
	}
}

@media screen and (max-width: 575px) {
	.terms h1 {
		font-size: 1.25rem;
		line-height: 1.2
	}

	.terms h2 {
		margin-top: 15px
	}

	.terms p {
		padding-left: 0
	}

	.terms ul {
		padding-left: 10px
	}
}

@media screen and (max-width: 479px) {

	.modal__text_thx,
	.register__content,
	.terms .container {
		padding: 0
	}

	.map,
	.push {
		overflow: hidden
	}

	.forgot h1,
	.login h1,
	.register h1 {
		font-size: 1.6rem;
		line-height: 1.875rem
	}

	.login__content {
		width: 320px
	}
}

@media screen and (max-width: 374px) {
	.orange {
		width: 320px;
		height: 320px
	}

	.cta__back {
		width: 270px;
		height: 270px
	}
}

.modal__info_active {
	display: block;
	top: 12%;
	left: 50%;
	transform: translateX(-50%)
}